.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 65%;
        @media (max-width: 768px){
            flex-direction: row-reverse;
            width: 35%;
        }
    }
    &__logo{
        &__image{
            @media (max-width: 768px){
                width: 80px;
                height: auto;
            }
        }
    }
    &__nav{
        .header__nav__icon {
            display: none;
            &--open{
                @media (max-width: 768px){
                    display: block;
                    font-size: 22px;
                }
            }
        }
        &__list{
           display: flex;
           gap: 50px;
           @media (max-width: 768px){
            display: none;
           }
        }
        &__link{
            &--active{
                font-weight: bold;
            }
       }
    }
    &__actions{
        width: 35%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 20px;
        @media (max-width: 768px){
            width: 65%;
        }
        &__icons{
            display: flex;
            gap: 20px;
        }
        &__icon{
            font-size: 22px;
        }
        .fa-bag-shopping{
            position: relative;
        }
        &__badge{
            position: absolute;
            bottom: 12px;
            left: 12px;
            font-size: 10px;
            background-color: $color-two;
            width: 18px;
            height: 18px;
            border-radius: 50px;
            display: flex; 
            justify-content: center; 
            align-items: center; 
            color: white;
        }
        &__search{
            padding: 0 15px;
            border-left: solid 2px $color-three;
            border-right: solid 2px $color-three;
            @media (max-width: 768px){
                padding: 2px 7px;
            }
        }
        &__auth{
            background-color: $primary-color;
            padding: 10px 20px;
            border-radius: 5px;
            @media (max-width: 768px){
                background-color: transparent;
                padding: 0;
            }
            .fa-right-to-bracket{
                display: none;
                @media (max-width: 768px){
                    display: block;
                    font-size: 22px;
                }
            }
            &__link{
                color: white;
                font-weight: 400;
                @media (max-width: 768px){
                    display: none;
                }
            }
        }
    }
}