// Font-family
$font-text : 'Montserrat', sans-serif;
$font-title : 'Poppins', sans-serif;

// Font-size
$size-text : 18px;
$size-tittle : 25px;

// Color
$primary-color : #3CB018;
$color-two : #F9A502;
$color-three : #595959;
$color-four : #303030;
$color-five : #F0693E;